# Virtual environment
venv/
.venv/

# Secrets
.env

# Python / Django
__pycache__/
*.pyc
db.sqlite3
media/
staticfiles/

# Node / Tailwind
node_modules/

# IDE / OS
.vscode/
.idea/
.DS_Store